<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sexy1</title>
    <link rel="stylesheet" href="stylesheet/style.css" /> 
</head>
<body>
    <h1>David Goggins</h1>
    <p>Seal</p>
    <p>ultra runner</p>
    <p>Escritor</p>
    <a href="/hisWork">el libro es </a>
    <br>
    <a href="/collage">collage </a>
    <br>
    <a href="/home">para regresar al home </a>

</body>
</html>