<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sexy1</title>
    <link rel="stylesheet" href="stylesheet/style.css" /> 
</head>
<body>
    <h1>David Goggins Collage</h1>
   <div class="images">

    <img src="./images/1.png" alt="photo1" />
    <img src="./images/2.png" alt="photo2" />
    <img src="./images/3.png" alt="photo3" />
    <img src="./images/4.png" alt="photo4" />

   </div>


    <a href="/hisWork">el libro es </a>
    <br>
    <a href="/about">sobre el</a>
    <br>
    <a href="/home">para regresar al home </a>
</body>
</html>