<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sexy1</title>
    <link rel="stylesheet" href="stylesheet/style.css" /> 
</head>
<body>
    <h1>El autor del libro Can't Hurt Me</h1>
    <p>Goggins</p>
    <a href="/hisWork">el libro es </a>
    <br>
    <a href="/collage">collage </a>
    <br>
    <a href="/home">para regresar al home </a>
</body>
</html>