<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sexy1</title>
    <link rel="stylesheet" href="stylesheet/style.css" /> 
</head>
<body>
    <h1>El libro</h1>
    <p>Inspiración</p>
    <img src="./images/gogginsBook.jpeg" alt="book" />
    <br>
    <a href="/collage">collage</a>
    <br>
    <a href="/home">Para regresar al inicio</a>
</body>
</html>